.FooterComponent {
    background-color: rgb(250, 250, 250);
    height: 20px;
    width: 100%;
    div {
        text-align: center;
        font-family: "Gmarket Light";
        font-size: 13px;
    }
}
