.FooterComponent {
    background-color: rgb(255, 255, 255);
    height: 20px;
    width: 100%;
    div {
        text-align: center;
        font-family: "Gmarket Light";
        font-size: 13px;
    }
}
